.DS_Store
._.DS_Store
client/node_modules
server/node_modules
chatapp/node_modules
chatapp/lib/node_modules
client/package-lock.json
server/package-lock.json
server/package.json
server/package-lock.json
client/package.json
client/package-lock.json
client/package-lock.json
server\resources.js