@media all and (min-width: 480px) {
    .ForgotEmail {
      padding: 60px 0;
    }
  
    .ForgotEmail form {
      margin: 0 auto;
      max-width: 500px;
    }
  }
  #emailSent {
      margin: 5vh auto;
      text-align: center;
  }