@media all and (min-width: 590px) {
    .filter-list {
      margin: auto;
    }
    
    .form-control {
      /* form-control-lg, */
      
      min-width: 400px;
      max-width: 560px;
      /* width: 500px; */
    }

  }
  .filter-list {
    margin: 0 auto;
  }
  .form {
    padding-top:  6px;
    padding-right:  6px;
    padding-left:  6px;
    margin: auto;
  }
  