body {
    color: black;
    /* background-color: #6b0a3a; */
    padding: 20px 30px;
    font-family: Calibri;
  }
  #user-profile {
    width: 50%;
    max-width: 450px;
    margin: 5px auto 5px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    box-shadow: 2px 2px 5px #000;
    border: 1px solid #000;
    background-color: #b1afaf;
    /* background-image: radial-gradient(#55965d 15%, transparent 16%), radial-gradient(#55965d 15%, transparent 16%); */
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
  }
  #user-profile hr {
    /* margin: 20px auto; */
    width: 50px;
    border: 1px solid #6b0a3a;
    background-color: transparent;
  }
  #user-profile h1, #user-profile h2, #user-profile h3, #user-profile h4, #user-profile h5, #user-profile h6, #user-profile p {
    margin: 0;
  }
  #user-profile h1 {
    font-size: 15px;
  }
  #user-profile h2 {
    font-size: 30px;
  }
  #user-profile h3 {
    font-size: 18px;
}
#user-profile h4 {
    font-size: 16px;
}
#user-profile p {
    font-size: 14px;
}
#user-profile .top{
    padding: 20px 30px;
    font-family: Calibri;
}
#user-profile .avatar {
    display: inline;
    margin: 2px;
    border-radius: 50%;
    border: 1px solid #000;
    object-fit: cover;
    object-position: center;
}
#user-profile .username{
    display: inline;
    font-weight: bold;
    cursor: pointer;
}

#user-profile .bottom {
  padding: 10px 30px;
  font-family: Calibri;
  text-align: left;
  color: rgb(87, 86, 86);
}

#user-profile .like {
  max-height: 100px;
  width: 50%;
  float: right;
  padding:2% 15%;
  padding-top: 3%;
  cursor: pointer;
  background: #cacaca;
  border: 1px solid rgb(143, 143, 143);
  box-shadow: inset 0 5px 5px rgba(0,0,0,.075);
}

#user-profile .dislike {
  max-height: 100px;
  width:50%;
  float: left;
  padding:2% 15%;
  cursor: pointer;
  background: #cacaca;
  border: 1px solid rgb(143, 143, 143);
  box-shadow: inset 0 5px 5px rgba(0,0,0,.075);
}

#user-profile .dislike:hover, #user-profile .like:hover{
  background: #efefef;
}

  